body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background:#FFBC2F;
}
h1{color: rgb(59, 16, 230)
}
h3 {color: white;}

p span {color: rgb(17, 35, 191);
}
.estudio,
.trabajo { 
    color: darkblue;
}
